* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #35363A;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.calculator {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 107px;
    grid-gap: 10px;
    background-color: #2F3141;
    border: 1px solid rgba(0, 0, 0, 0.20);
}


.button, .display {
    border-radius: inherit;
    box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.25) inset, 4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
    color: #fff;
}

.display {
    grid-column: 1/5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    text-align: right;
    background-color: transparent;
    font-size: 40px;
    color: #fff;
}

#prevDisplay {
    font-size: 25px;
}

.button {
    min-width: 40px;
    font-size: 30px;
    background-color: #434458;
    cursor: pointer;

    transition: 0.5s;
}

.button:hover {
    background-color: #6D6F8A;
}

.operator {
    color: #9AFEEC;
}

.equal {
    grid-column: 3/5;
}